th {
	text-align : center;
	background-color: black;
	color : white;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td {
	text-align : center;
}

.aksi {
	width: 150px;
}

.paginasi {
	margin: 0px 720px;
}

.nomor {
	width: 10px;
}